# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable emp-channel-tree': 'emp-channel-tree:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'emp-channel-tree'
      'submenu': [
        { 'label': 'Toggle', 'command': 'emp-channel-tree:toggle' }
      ]
    ]
  }
]
